<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../header'); -%>
  <body>
    <%- include('../navigation'); -%>
    <div class="container bg-white py-4">
      <h3>Poll <%= question._id %> </h3>
      <div class="container">
        <form class="" href="polls/details/<%=question._id %>" method="post">
          <p> <%= question.question_text %> </p>
          <br>
          <div class="container">
            <ul class='list-group'>
              <% for(let choice of question.choices ) { %>
                <button type='submit' name='choice' value='<%= choice._id %>' class='list-group-item text-left my-1'>
                  <%= choice.choice_text %> (<%= choice.votes.length %>)
                </button>
              <% } %>
            </ul>
            <div class="container text-right">
              <% if(question.userid == loggedIn){%>
                <a class="page-link d-inline text-warning px-2" href="/polls/edit/<%=question._id %>">Edit</a>
                <a class="page-link d-inline text-danger px-2" href="/polls/delete/<%=question._id %>">Delete</a>
              <%}%>
            </div>
          </div>
        </form>

      </div>

    </div>
  </body>
  <%- include('../footer'); -%>
</html>
